<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zubairy.cal_it">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/HiddenTitleTheme">
        <activity android:name=".Profile"></activity>
        <activity android:name=".UserInfo" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".NewDish"
            android:label="New Dish"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zubairy.cal_it.MainActivity" />
        </activity>
        <activity
            android:name=".MealsActivity"
            android:label="Meals"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zubairy.cal_it.MainActivity" />
        </activity>
        <activity
            android:name=".GroceriesActivity"
            android:label="Groceries"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zubairy.cal_it.MainActivity" />
        </activity>
        <activity
            android:name=".RecipeActivity"
            android:label="Recipes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zubairy.cal_it.MainActivity" />
        </activity>
        <activity
            android:name=".RecipeViewActivity"
            android:label="Recipes"
            android:parentActivityName=".RecipeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zubairy.cal_it.RecipeActivity" />
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name=".NutriDataActivity" />

        <activity
            android:name=".AndroidDatabaseManager"
            android:label="@string/app_name" />
    </application>

</manifest>